body {
  background-color: #d9564a;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: row;
  padding: auto;
  margin-top: 20px;
}

.App-name {
  display: flex;
  flex-direction: column;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #ffe5b5;
}

.App-content {
  width: 1000px;
  height: 500px;
  display: flex;
  text-align: center;
  background-color: #ffe5b5;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.todolist-container {
  width: 450px;
}

.counter-container {
  width: 450px;
}

.rightNavbar-container {
  width: 100px;
  display: flex;
  flex-direction: column;
}
