body {
  display: flex;
  justify-content: center;
  background: cornsilk;
}

.App {
  display: flex;
  flex-direction: row;
  padding: auto;
  margin-top: 20px;
  width: 1380px;
  height: 660px;
  padding: 20px 0px 20px 0px;
  background-color: #d9564a;
}

.App_namePart {
  display: flex;
  flex-direction: column;
  writing-mode: vertical-rl;
  color: #ffe5b5;
}

.App_namePart_1 {
  position: relative;
  right: 30px;
  font-size: 40px;
  margin: 0;
}

.App_namePart_2 span {
  position: relative;
  right: 18px;
  margin: 0;
  font-size: 90px;
}

.name_titlePic {
  transform: rotate(90deg);
}

.App_content {
  width: 1200px;
  height: 650px;
  display: flex;
  text-align: center;
  background-color: #ffe5b5;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.todolist_container {
  width: 500px;
  height: 600px;
  padding: 50px 50px 0px 50px;
  position: relative;
}

.counter_container {
  width: 500px;
  height: 600px;
}

.rightNavbar_container {
  width: 100px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

/* Todo-container */

li {
  list-style-type: none;
}

.todolist_list li:first-child {
  position: relative;
  right: 15px;
  display: flex;
  align-items: center;
  padding-left: 17px;
  background-color: #ffffff;
  height: 80px;
  width: 540px;
  border-radius: 5em 5em;
  margin-bottom: 40px;
}

.todolist_list li:first-child:after {
  position: absolute;
  width: 22px;
  height: 22px;
  right: -70px;
  top: 60px;
  content: " ";
  border-color: #ffffff transparent transparent transparent;
  border-style: solid;
  border-width: 50px;
  transform: skewX(60deg);
  height: 0px;
  width: 0px;
  visibility: visible;
}

.todolist_list li:first-child .todo_toggle:after {
  background: #ffffff;
}

.todolist_list li:first-child .todo_content {
  margin-left: 5px;
}

.todolist_list li:first-child .todo_play {
  display: none;
}

.todo_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 50px;
  position: relative;
}

.todo_toggle {
  margin-right: 20px;
  cursor: pointer;
  font-size: 14px;
  width: 15px;
  height: 2px;
}

.todo_toggle:after {
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 10px;
  content: " ";
  background: #ffe5b5;
  border: #d9674e solid 5px;
  color: black;
  display: inline-block;
  visibility: visible;
  border-radius: 100%;
}

.todo_toggle:checked:after {
  content: "✓";
  font-size: 38px;
  line-height: 13px;
  color: #d9674e;
}

.todo_content {
  width: 350px;
  text-align: start;
  font-size: 25px;
}

.todo_play {
  background: transparent;
  border: none;
  cursor: pointer;
}

.todo_playPic {
  width: 40px;
  background-color: #ffffff;
  border-radius: 100%;
}

.todo_inputPart {
  display: flex;
  align-items: center;
  margin-left: 25px;
  border: #d9674e solid 3px;
  background-color: #ffffff;
  border-radius: 4px;
}

.todo_input {
  width: 400px;
  height: 50px;
  border: none;
  font-size: 20px;
  color: #d9674e;
  padding-left: 15px;
}

::placeholder {
  color: #d9674eb9;
  padding: 10px;
}

.todo_plus {
  width: 60px;
  height: 50px;
  background: transparent;
  border: none;
  border-left: #d9674e solid 3px;
  background-color: #ffffff;
  cursor: pointer;
}

.todo_plusPic {
  width: 40px;
}

.todo_completePart {
  display: flex;
  flex-direction: column;
  background: #ffffff80;
  position: absolute;
  bottom: 25px;
  left: 50px;
  width: 500px;
  padding: 10px;
  color: #707070;
}

.complete_title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  height: 35px;
}

.complete_title a {
  color: #858c51;
  text-decoration: none;
  margin-right: 10px;
}

.complete_item {
  display: flex;
  align-items: center;
}

.complete_checkPic {
  margin-right: 20px;
}

.complete_content {
  font-size: 20px;
}

/* Counter-container */

.timer {
  position: relative;
  margin-bottom: 10px;
}

.counterPic {
  width: 450px;
  height: 450px;
}

.input_time {
  border: 0;
  outline: 0;
  background: transparent;
  position: absolute;
  top: 160px;
  right: 80px;
  font-size: 110px;
  color: white;
  cursor: default;
}

.counter_divider {
  margin: auto;
  width: 500px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 5em 5em;
}

.counter_footer {
  position: relative;
  height: 100px;
}

.start_button {
  background: transparent;
  border: none;
  position: absolute;
  top: 20px;
  left: 220px;
  cursor: pointer;
}

.cancle_button {
  background: transparent;
  border: none;
  position: absolute;
  top: 35px;
  right: 120px;
  cursor: pointer;
}

.counter_playPic {
  width: 70px;
}

.counter_canclePic {
  width: 35px;
}

/* rightNavbar-container */
.nav_choose {
  background-color: #ffffff;
  border-bottom-left-radius: 4em 5em;
  border-top-left-radius: 4em 5em;
}

.Home_page,
.Music_page,
.Statistic_page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 10px;
}

.homePic,
.musicPic,
.statisticPic {
  width: 40px;
}
